body {
  padding-top: 120px; }
  body header {
    background: #e4e4e4;
    font-family: "Times New Roman", Times, serif;
    padding: 26px;
    font-size: 22px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000; }
    body header .container {
      width: 85%;
      margin: 0 auto; }
    body header a {
      text-decoration: none;
      color: #333;
      transition: all 0.5s linear; }
    body header b {
      font-size: 30px; }
    body header a:hover {
      color: white; }
    body header .logoContainer {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
    body header .navItem {
      padding-right: 10px; }
    body header .navMenu ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none; }
    body header .navMenu ul li {
      display: inline-block; }
    body header .navMenu ul li a {
      display: block;
      padding: 0.5rem 0;
      transition: all 0.5s linear; }
    body header .navMenu ul li a:hover {
      color: white; }
  @media (max-width: 425px) {
    body header .navMenu {
      flex-direction: row;
      padding-bottom: 0; }
    body a {
      text-align: center; }
    body .lisa a {
      flex-direction: row; }
    body .row {
      margin-top: 0; } }
  body .row {
    margin-right: 0;
    margin-left: 0; }

/* MAPS aplicados en el main del index */
div h5 {
  font-size: 22px;
  text-align: center;
  color: #333; }

div p {
  font-size: 16px;
  text-align: center;
  color: #333; }

body div .card-body a {
  text-decoration: none; }

body div a .card-widht {
  width: 200px; }

body footer {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px; }
  body footer .linea {
    width: 70%;
    border-top: 1px solid #4e4641;
    margin: auto;
    margin-top: 20px; }
  body footer .copyright {
    padding: 20px;
    color: #4e4641;
    text-align: center;
    font-weight: bold; }
  body footer li {
    display: inline-flex;
    padding-left: 25px; }

body .section {
  padding: 1rem 8rem;
  font-family: "Times New Roman", Times, serif; }

body .form {
  margin: auto;
  padding: 1rem;
  width: 100%; }

body .borderNone {
  border: none; }

body fieldset {
  padding: 0.35em 0.75em 0.625em; }

body .formLegend {
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: bold; }

body .input {
  margin-bottom: 1rem; }

body .buttons {
  display: flex;
  flex-direction: row; }

body .inputLabel {
  display: block;
  color: #333;
  font-size: 22px;
  margin-bottom: .5rem;
  font-weight: bold; }

body .inputText {
  width: 100%;
  background-color: #e4e4e4;
  padding: 1rem;
  border: 1px solid #b4b4b4;
  font-size: 20px; }

body .buttonText {
  font-size: 22px;
  color: #333; }

body .boton {
  justify-content: space-between;
  margin: 1rem auto;
  height: 3rem;
  width: 30%;
  border: 2px solid #b4b4b4; }

body button, body input {
  overflow: visible; }

@media (max-width: 425px) {
  body .section {
    padding: 1rem 1rem; }
  body .boton {
    width: 40%; } }

body section .whatsapp {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 10px; }

.galeriaContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  padding: 10px;
  grid-gap: 10px; }

.galeriaImagenes {
  position: relative; }

.galeriaItem {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galeriaImagenes:nth-child(4) {
  grid-column-start: span 2; }

.galeriaImagenes:nth-child(5) {
  grid-row-start: span 2; }

.galeriaImagenes:nth-child(9) {
  grid-column-start: span 2; }
