body .bg-light {
  background-color: #e4e4e4 !important;
  margin-bottom: 15px;
  padding: 15px; }

body .container-fluid {
  font-family: "Times New Roman", Times, serif; }

body .navbar-brand {
  font-size: 30px;
  color: #333; }

body .navbar-nav {
  --bs-nav-link-color: none;
  color: #333;
  font-size: 22px;
  margin-left: auto; }

body .nav-link:hover {
  color: #aa4b6b; }

body .navbar-nav .nav-link.active {
  color: #333; }

body .navbar-nav .nav-link.active:hover {
  color: #aa4b6b; }

body .dropdown-item {
  color: #333; }

body .dropdown-item:hover {
  background-color: #aa4b6b2c; }

body .logo {
  width: 50px; }

body b {
  margin-left: 20px;
  transition: all 0.5s linear; }

body b:hover {
  color: #aa4b6b; }

@media (max-width: 600px) {
  body b {
    display: none; } }

body .row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px; }

/* MAPS aplicados en el main del index */
div h5 {
  font-size: 22px;
  text-align: center;
  color: #333; }

div p {
  font-size: 16px;
  text-align: center;
  color: #333; }

body div .card-body a {
  text-decoration: none; }

body div a .card-widht {
  width: 200px; }

.card-img-top {
  opacity: 80%;
  transition: .5s ease;
  backface-visibility: hidden; }

.card-img-top:hover {
  opacity: 100%; }

body footer {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px; }
  body footer .linea {
    width: 70%;
    border-top: 1px solid #4e4641;
    margin: auto;
    margin-top: 20px; }
  body footer .copyright {
    padding: 20px;
    color: #4e4641;
    text-align: center;
    font-weight: bold; }
  body footer li {
    display: inline-flex;
    padding-left: 20px; }

@media (max-width: 901px) {
  body .divFooter {
    display: inline-block;
    padding-left: 60px; } }

body {
  /*Botonera*/ }
  body .section {
    padding: 1rem 8rem;
    font-family: "Times New Roman", Times, serif; }
  body h4 {
    font-size: 20px;
    color: #4d4d4d;
    text-align: center; }
  body .form {
    margin: auto;
    width: 100%; }
  body .borderNone {
    border: none; }
  body fieldset {
    padding: 0.35em 0.75em 0.625em; }
  body .formLegend {
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: bold; }
  body .input {
    margin-bottom: 1rem; }
  body .buttons {
    display: flex;
    flex-direction: row; }
  body .inputLabel {
    display: block;
    color: #333;
    font-size: 22px;
    margin-bottom: .5rem;
    font-weight: bold; }
  body .inputText {
    width: 100%;
    background-color: #e4e4e4;
    padding: 1rem;
    border: 1px solid #b4b4b4;
    font-size: 20px; }
  body .buttonText {
    font-size: 22px;
    color: #333; }
  body .boton {
    justify-content: space-between;
    margin: 1rem auto;
    height: 3rem;
    width: 30%;
    border: 2px solid #b4b4b4; }
  body button, body input {
    overflow: visible; }
  @media (max-width: 425px) {
    body .formLegend {
      font-size: 24px; }
    body .inputLabel {
      font-size: 18px; }
    body .inputText {
      font-size: 16px; }
    body .section {
      padding: 1rem; }
    body .boton {
      font-size: 18px;
      width: 45%; }
    body section .whatsapp {
      display: none; } }
  @media (min-width: 426px) and (max-width: 800px) {
    body .formLegend {
      font-size: 24px; }
    body .inputLabel {
      font-size: 18px; }
    body .inputText {
      font-size: 16px; }
    body .section {
      padding: 1rem; }
    body .boton {
      font-size: 18px;
      width: 45%; } }

section .whatsapp {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 10px; }

body .gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-right: 13px;
  margin-left: 13px;
  margin-bottom: 10px; }

body .gridContainer img {
  width: 100%;
  margin-top: 10px;
  transition: all 300ms; }

body .gridContainer img:hover {
  transform: scale(1.02); }

body .galeriaItem {
  border-radius: 10px; }

@media (max-width: 430px) {
  body .gridContainer {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 431px) and (max-width: 725px) {
  body .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2; } }
