body {
    footer {
        background-color: $color-footer;
        padding: 20px;
        margin-top: 20px;

        .linea {
            width: 70%;
            border-top: 1px solid #4e4641;
            margin: auto;
            margin-top: 20px;
        }

        .copyright {
            padding: 20px;
            color: #4e4641;
            text-align: center;
            font-weight: bold;
        }

        li {
            display: inline-flex;
            padding-left: 25px;
                     
        }



    }
}