body {

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-right: 13px;
        margin-left: 13px;
        margin-bottom: 10px;
    }
    
    .gridContainer img {
        width: 100%;
        margin-top: 10px;
        transition: all 300ms;
    }
    
    .gridContainer img:hover {
        transform: scale(1.02);
    }
    
    
    .galeriaItem  {
        border-radius: 10px;
    }   

    @media(max-width: 430px) {
        .gridContainer {
          grid-template-columns: repeat(1, 1fr);
        }

      }
    
    @media(min-width: 431px) and (max-width: 725px) {
        .gridContainer {
          grid-template-columns: repeat(2, 1fr);
          grid-column: span 2;

        }
      }


}


