/* MAPS*/

$letraSize: (h5:22px, h5Color:#333, p:16px, align:center);

$h5: map-get($letraSize, h5);
$p: map-get($letraSize, p);
$align: map-get($letraSize, align);
$h5Color: map-get($letraSize, h5Color);

div h5 {
    font-size: $h5;
    text-align: $align;
    color: $h5Color;
}

div p {
    font-size: $p;
    text-align: $align;
    color: $h5Color;
}